body {
  background-color: #FFDFDF;
  font-family: 'Titillium Web', sans-serif;
  line-height: 30px;
  margin: 0 auto;
}

img {
  width: 210px;
  border-radius: 50%;
  border: 2px solid rgba(197, 156, 156, .5);
  box-shadow: 0 10px 30px rgba(85, 85, 85, 0.5);
}

h1 {
  font-weight: 600;
  color:#c0517e;
  font-size: 44px
}

p {
  font-size: 17px;
  padding: 20px;
  text-align: center;
}

h2 {
  color:#7193a8;
  font-size: 27px;
  margin: 0;
}

.icon {
  color:rgb(53, 48, 48);
  font-size: 45px;
  letter-spacing: 15px;
}

.icon:hover {
  color: #F875AA;
  font-size: 32px;
}

.card {
  background-color: #FFF6F6;
  border: 1px solid rgb(197, 156, 156);
  text-align: center;
  padding: 45px;
  margin: 15px auto;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(85, 85, 85, 0.5);
}

.btn {
  text-decoration: none;
  color:rgb(53, 48, 48);
  background-color: #AEDEFC;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(85, 85, 85, 0.1);
  border: 1px solid #92c1dd;
}
 .btn:hover {
  background-color: #F875AA;
 }

 .list-inline > li {
  display: inline-block;
  padding: 5px;
 }

 .list-inline {
  padding-left: 0px;
  max-height: 45px;

 }

 @media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card {
    width: 300px;
  }
}
